<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body class="grey-bg">

  <form id="register-form" class="form-box">
    <h4>회원가입</h4>
    <label for="username">ID</label>
    <input type="text" id="username" name="userId">

    <label for="password">PW</label>
    <input type="password" id="password" name="passwd">

    <label for="email">email</label>
    <input type="email" id="email" name="email">

    <label for="dog">개유무</label>
    <input type="dog" id="dog" name="dog">

    <label for="dogSpecies">견종</label>
    <input type="dogSpecies" id="dogSpecies" name="dogSpecies">

    <label for="dogAge">개나이</label>
    <input type="dogAge" id="dogAge" name="dogAge">

    <label for="dogName">개이름</label>
    <input type="dogName" id="dogName" name="dogName">

    <button type="submit">가입</button>
  </form>

  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="/js/register.js"></script>
</body>

</html>