<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.js" integrity="sha512-zoJXRvW2gC8Z0Xo3lBbao5+AS3g6YWr5ztKqaicua11xHo+AvE1b0lT9ODgrHTmNUxeCw0Ry4BGRYZfXu70weg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <P>하이</P>
  <ul id="messages"></ul>
  <form id="chat-form">
    <input id="exRoom" type="text" placeholder="방제">
    <input id="exId" type="text" placeholder="익명의 아이디">
    <input type="text" id="message-input" autocomplete="off" />
    <button>Send</button>
  </form>
  
  
  <button id="in">하하 서버로 입장하기</button>
  <button id="out">하하 서버에서 나가기</button>
  <hr>
  <button id="didi">디디랑 채팅하기</button>
  <form id="chat-form">
    <input id="didiId" type="text" placeholder="익명의 아이디">
    <input type="text" id="didiMsg" autocomplete="off" />
    <!-- <button>Send</button> -->
  </form>
  
  <hr>
  <ul id="messageBox"></ul>

  <script>
    var socket = io();
    
    document.getElementById('didi').addEventListener('click', async () => {
      // 누르면 해당 유저정보 + 지금 내 정보 를 채팅데이터로 넘김
      // 서버는 해당 채팅방의 컬렉션 만듦
      const msg = document.getElementById('didiMsg').value;
      const userId = 'didi'
      const me = 'jim'
      const data = {userId, me, msg}
      socket.emit('didis',data);
      location.href = '/community/testChat'
    })

    socket.on('start', (data) => {
      console.log(data);
      const input = document.getElementById('roomId');
      input.value = data.roomId;
      const message = document.getElementById('messages');
      const li = document.createElement('li');
      li.textContent = data.msg;
      message.appendChild(li);
    });

    
    document.getElementById('in').addEventListener('click', (e) => {
      document.getElementById('exRoom').value = '하하'
      const id = document.getElementById('exId').value;
      const server = '하하';
      const data = {id, server};
      
      socket.emit('getIn', data);
    });
    document.getElementById('out').addEventListener('click', (e) => {
      document.getElementById('exRoom').value = ''
      const id = document.getElementById('exId').value;
      const server = '하하';
      const data = {id, server};

      socket.emit('getOut', data);
    });
    
    
    
    socket.on('close', (msg) => {
      console.log(msg);
      const message = document.getElementById('messages');
      const li = document.createElement('li');
      li.textContent = msg;
      message.appendChild(li);
    })
    socket.on('open', (resulte) => {
      console.log(resulte);
      const message = document.getElementById('messages');
      const li = document.createElement('li');
      li.textContent = resulte.msg;
      message.appendChild(li);
    })

    socket.on('sendMsg', (data) => {
      console.log(data);
      if (!data) {
        return alert('아무 방에도 들어가 있지않습니다');
      }
      const message = document.getElementById('messages');
      const li = document.createElement('li');
      li.textContent = data.id + ': ' + data.msg;
      message.appendChild(li);
    })
    
    
    document.getElementById('chat-form').addEventListener('submit', (e) => {
      e.preventDefault();
      const room = document.getElementById('exRoom').value;
      const id = document.getElementById('exId').value;
      const input = document.getElementById('message-input');
      const msg = input.value;
      const data = { room, id, msg }
      socket.emit('userSend', data)
      input.value = '';
    })



  </script>
</body>
</html>