<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <h1>중고장터 게시판</h1>
  <div>
    <h4>
      <%= post.title %>
    </h4>

  </div>

</body>

</html>